@font-face {
    font-family: "Riviera";
    src: url("../assets/font/Riviera.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quantum';
    src: url('../assets/font/Quantum.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutronium';
    src: url('../assets/font/Neutronium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nidsans';
    src: url('../assets/font/Nidsans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url('../assets/font/TitilliumWeb.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumWeb-Bold';
    src: url('../assets/font/TitilliumWeb-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iceberg';
    src: url('../assets/font/Iceberg.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovaSquare';
    src: url('../assets/font/NovaSquare.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/font/Oswald.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxanium-Bold';
    src: url('../assets/font/Oxanium-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
