a:hover {
    cursor: pointer;
}


.pullUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
    bottom: 1.5%;
    border: 0;
    outline: 0;
    color: white;
    font-weight: bolder;
    width: 100%;
    font-size: 48px;
    animation: dribble 1s alternate infinite ease-in;
}

@keyframes dribble {
    from {
        transform: translateY(-12px);
    }
    to {
        transform: translateY(0);
    }
}

.udaan_logo {
    width: 60%;
    object-fit: contain;
    animation-delay: 0.5s;
    animation: logo_animation 2.5s 1 alternate;
}


@media screen and (max-width: 1400px) {
    .udaan_logo {
        width: 70%;
    }
}

@media screen and (max-width: 786px) {
    .udaan_logo {
        width: 100%;
    }
}

@keyframes logo_animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}